    <div class="hero-wrap" style="background-image: url('assets/Desjardin.jpg'); background-attachment:fixed;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center"></br></br></br></br>
            <h1 class="mb-4"></br>Ivolved</h1>
            <section class="ftco-section">
              	<div class="container" style="background-color:white;">
                    </br></br><h3 class="heading">Notre projet</h3></br></br>
                <div class="row">
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">

                      <div class="media block-6 services p-3 py-4 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center mb-3"><a href="/projet"><span class="flaticon-exam"></span></a></div>
                        <div class="media-body px-3">
                          <p style="font-size:1.2vw;color:black;align-items:left !important;">
                             Rénover des friches industriels en créant des mini-villes numériques
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                      <div class="media block-6 services p-3 py-4 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center mb-3"><span class="flaticon-blackboard"></span></div>
                        <div class="media-body px-3">
                          <p style="font-size:1.2vw;color:black;align-items:left !important;">Démocratiser les nouvelles technologies par le biais d'ateliers et de challenges</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                      <div class="media block-6 services p-3 py-4 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center mb-3"><span class="flaticon-books"></span></div>
                        <div class="media-body px-3">
                          <p style="font-size:1.2vw;color:black;align-items:left !important;">
                            Créer un écosystème favorisant l'émergence de startups hight-tech
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
              	</div>
              </section>
                          <!-- <p><a href="/projet" class="btn btn-primary px-4 py-3">Notre projet</a>
               <a href="/evenements" class="btn btn-secondary px-4 py-3">Nos evenements</a></p> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <section class="ftco-counter bg-light" id="section-counter">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="10300">0</strong>
		                <span>Satisfied Students</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="7896">0</strong>
		                <span>Courses Completed</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="400">0</strong>
		                <span>Experts Advisors</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="200">0</strong>
		                <span>Schools</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
-->


<section class="ftco-section bg-light" style="margin-top:15vw;">
        <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Latest Events</h2>
          </div>
        </div>
        <div class="row">
          <% e = Event.all
            events = e.where(Date:Date.today ..Date.today.next.next.next)
            events.each do |event|
          %>
        	<div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <% test = 'assets/' + event["Img"].to_s %>
              <a href="blog-single.html" class="block-20" style="background-image: url(<%= test %>);">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#"></a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <%=
                    if  event["Date"].mon == 1
                      date = event["Date"].mday.to_s + ' ' +  'Janvier'+ ' ' + event["Date"].year.to_s
                    elsif event["Date"].mon == 2
                      date = event["Date"].mday.to_s + ' ' +  'Fevrier'+ ' ' + event["Date"].year.to_s
                    elsif event["Date"].mon == 3
                      date = event["Date"].mday.to_s + ' ' +  'Mars'+ ' ' + event["Date"].year.to_s
                    elsif event["Date"].mon == 4
                      date = event["Date"].mday.to_s + ' ' +  'Avril'+ ' ' + event["Date"].year.to_s
                    elsif event["Date"].mon == 5
                      date = event["Date"].mday.to_s + ' ' +  'Mai'+ ' ' + event["Date"].year.to_s
                    elsif event["Date"].mon == 6
                      date = event["Date"].mday.to_s + ' ' +  'Juin'+ ' ' + event["Date"].year.to_s
                    elsif event["Date"].mon == 7
                      date = event["Date"].mday.to_s + ' ' +  'Juillet'+ ' ' + event["Date"].year.to_s
                    elsif event["Date"].mon == 8
                      date = event["Date"].mday.to_s + ' ' +  'Aout'+ ' ' + event["Date"].year.to_s
                    elsif event["Date"].mon == 9
                      date = event["Date"].mday.to_s + ' ' +  'Septembre'+ ' ' + event["Date"].year.to_s
                    elsif event["Date"].mon == 10
                      date = event["Date"].mday.to_s + ' ' +  'Octobre'+ ' ' + event["Date"].year.to_s
                    elsif event["Date"].mon == 11
                      date = event["Date"].mday.to_s + ' ' +  'Novembre'+ ' ' + event["Date"].year.to_s
                    elsif event["Date"].mon == 12
                      date = event["Date"].mday.to_s + ' ' +  'Décembre' + ' ' + event["Date"].year.to_s
                    end
                    %>
                    <h3 class="heading mb-4"><a href="#"><%=  date %></h3>
                  <h3 class="heading mb-4"><a href="#"></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> <%= event["Name"]%></span></p>
                <p><%= event["Subject"]%></p>
                <p><a href="event.html">Join Event</a></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </section>
<!--
		<section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>Subcribe to our Newsletter</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
              <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-8">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
